<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-12">
        <img width="30" src="assets/atmospheric.png" alt="Logo">
        <a class="nav-link active text-primary" href="/home"><span>Inicio</span></a>
        <a class="nav-link active text-primary" href="/his-lec"><span>Historial Lecturas</span></a>
        <a class="nav-link active text-primary" href="/ltr"><span>Lect.Tiempo Real</span></a>
      <div class="navbar-nav" alignment="right">
        <a class="nav-link  text-danger"  href="/login"><span>Logout</span></a>
      </div>
      </div>
    </div>
  </nav>
</div>

<div class="container text-center">
  <div class="row mt-3 justify-content-center">
      <div class="col-lg-6 col-12">
          <div class="card">
              <div class="card-header bg-light text-primary">
                  <h3><span>Historial de lecturas</span></h3>
              </div>
          </div>
      </div>
  </div>
</div>
